.DS_Store
.Rproj.user/
.Rhistory
.RData
.Rapp.history
.posit/

**/.venv/
**/__pycache__/
*.pyc
*.ipynb
.ipynb_checkpoints/

**/.quarto/
**/_freeze/

renv/library/
renv/staging/

Entrega-Final-ALS/
data-raw/
*.pdf
*.rtf
*.png
